<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/">HomePage</a>
      <a href="/work">work</a>
      <a href="/about">about</a>
      <a href="/gallery">Gallery</a> 
    </nav>
    <div class="content">
      <h1>Bono</h1>
      <article>
        <p>
          Paul David Hewson, better known professionally as Bono, is the lead
          singer of the Irish rock band U2 and a famous activist for assorted
          causes. He appears in the episode "More Crap", where he serves as the
          main antagonist. After Mr. Hankey and his family, Bono is the second
          form of fecal matter capable of talking in South Park. However, he is
          the first to take on a human form.
        </p>
        <h2>Background</h2>
        <section>
          <p>
            When Randy Marsh took the "world's biggest crap", the European Fecal
            Standards and Measurements Board revealed that Bono was the previous
            holder of the record. Furious at someone beating him and making him
            "number 2", he proceeds to take a massive crap of his own, beating
            out Randy. When Stan begins investigating Bono's odd behavior, it is
            revealed that Bono did not take the world's biggest crap, but
            actually is the world's biggest crap, once taken by a ranking member
            of the EFSMB. He was transformed from crap into a human being when
            the board member fed him breast milk from his own chest. This
            explained why he could do so much good and accomplish so many great
            things, and still appear to be a piece of crap. Bono also appears
            during the MTV Awards to watch Britney's performance. Bono later
            makes an appearance in "200", saying that the people of South Park
            had insulted him by claiming he was made of shit, implicitly denying
            that this revelation was true. He also appeared in the following
            episode, "201," but doesn't have any lines. Bono also makes a cameo
            in "#HappyHolograms" with the rest of the band, U2. They were said
            to have performed, but they only appeared in the announcement.
          </p>
        </section>
      </article>
    </div>
    <footer>Credits go to southpark.fandom.com</footer>
  </body>
</html>
