<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="gallery.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/">HomePage</a>
      <a href="/work">work</a>
      <a href="/about">about</a>
      <a href="/gallery">Gallery</a>
    </nav>
    <div class="content">
      <div id="img-container">
        <img
          src=" https://upload.wikimedia.org/wikipedia/commons/d/dd/Bono_U2_360_Tour_2011.jpg"
          alt=""
        /><img
          src="https://akamai.sscdn.co/uploadfile/letras/fotos/1/e/0/2/1e02c35dcd4a87292fa410c5061bd62d.jpg"
          alt=""
        /><img
          src="http://t0.gstatic.com/licensed-image?q=tbn:ANd9GcRMFhN9f-AEO2pRcoTPppVLwn0bLI_reiQ_qU2te5SuZWAg5lLEP6kowOhljKKA9evH0HMnhXEqT8alMIo"
          alt=""
        />
      </div>
    </div>
    <footer></footer>
  </body>
</html>
